<% if session.id.to_s == @game.red_player %>
  <h2>Red Player</h2>
<% end %>
<% if session.id.to_s == @game.blue_player %>
  <h2>Blue Player</h2>
<% end %>

<%= render "board", :game => @game %>

<p>current: <%= session.id %></p>
<p>red: <%= @game.red_player %></p>
<p>blue: <%= @game.blue_player %></p>