<% if session.id.to_s == @game.red_player %>
  <h2 class="text-center">Red Player</h2>
<% end %>
<% if session.id.to_s == @game.blue_player %>
  <h2 class="text-center">Blue Player</h2>
<% end %>

<%= render "game_headings", :game => @game %>

<div class="container">
  <div class="row">
    <div class="col">
      <%= render "board", :game => @game %>
    </div>
    <div class="col">
      <h2 class="mb-3">Chat:</h2>
        <%= render "chat_log", :game => @game %>
      <textarea id="message-box" data-controller="game" data-action="keyup->game#send_message"></textarea>
    </div>
  </div>
</div>