// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ==========================================================================
   Main
   ========================================================================== */
html {font-size: 100%;} /*16px*/

body {
  background: #f7f9fb;
  font-weight: 400;
  color: #000000;
}

h1 {font-size: 4.209rem;}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {
  font-size: 1.44rem;
  margin-bottom: 0;
}

h5 {font-size: 1.2rem;}

small, .text_small {font-size: 0.833rem;}

/* ==========================================================================
   Headings
   ========================================================================== */
.heading-button {
  height: 60px;
  width: 140px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.score-board {
	border: 3px solid;
	width: 300px;
	margin: 40px auto;
	font-size: 40px;
	border-radius: 4px;
	text-align: center;
	padding: 15px 20px;
	position: relative;
  p {
    font-size: 10px;
    margin-bottom: 0px;
  }
}

.score-board-label {
	text-transform: uppercase;
	font-size: 14px;
	padding: 10px 6px;
}

#red-label {
  background:#dc3545;
	position: absolute;
	top: 50%;
	left: -5%;
	transform: translate(-10%, -50%);
}

#blue-label {
  background: #169db2;
	position: absolute;
	top: 50%;
	right: -5%;
	transform: translate(10%, -50%);
}


/* ==========================================================================
   Board
   ========================================================================== */
table {
  border-spacing: 0px;
}

td {
  padding: 0px;
}

.vertical-line {
  position: absolute;
  border-left: 1px solid black;
  height: 38em;
}

.horizontal-line {
  position: absolute;
  border-top: 1px solid black;
  width: 38em;
}

.board-tile {
  position: relative;
  min-height: 2em;
  min-width: 2em;
  background: rgba(232, 235, 237,0.5);
}

.tile-red {
  position:absolute;
  left: 0.25em;
  top: 0.25em;

  border-radius: 1em;
  width: 1.5em;
  height: 1.5em;
  background-color:#dc3545;

  z-index: 1;
}

.tile-blue {
  position:absolute;
  left: 0.25em;
  top: 0.25em;

  border-radius: 1em;
  width: 1.5em;
  height: 1.5em;
  background-color:#169db2;

  z-index: 1;
}

/* ==========================================================================
   Chat
   ========================================================================== */
.chat {
  background: rgba(232, 235, 237,0.5);
}

.chat-messages {
  overflow: scroll;
  height: 600px
}

.chat::-webkit-scrollbar {
  width: 1em;
}

.card-header {
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

#message-box {
  width: 100%;
}