// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  border-spacing: 0px;
}

td {
  padding: 0px;
}

.vertical-line {
  position: absolute;
  border-left: 1px solid black;
  height: 38em;
}

.horizontal-line {
  position: absolute;
  border-top: 1px solid black;
  width: 38em;
}

.board-tile {
  position: relative;
  min-height: 2em;
  min-width: 2em;
}

.tile-red {
  position:absolute;
  left: 0.25em;
  top: 0.25em;

  border-radius: 1em;
  width: 1.5em;
  height: 1.5em;
  background-color: red;

  z-index: 1;
}

.tile-blue {
  position:absolute;
  left: 0.25em;
  top: 0.25em;

  border-radius: 1em;
  width: 1.5em;
  height: 1.5em;
  background-color: blue;

  z-index: 1;
}

.end-box{
  position: fixed;
  width: 50%;
  height: 30%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  /* mmmm lemon chiffon */
  background-color: lemonchiffon;

  z-index: 2;
}

.end-text{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}